name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        arch:
          - arm64
          - amd64
        platform:
          - linux
    steps:
      - name: Checkout project repo
        uses: actions/checkout@v6.0.1
      
      - name: Log into image registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker QEMU
        uses: docker/setup-qemu-action@v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}}

      - name: Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: Containerfile
          target: runtime
          platforms: ${{ matrix.platform }}/${{ matrix.arch }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-to: type=gha,mode=max
          cache-from: type=gha
          push: true
          outputs: type=local,dest=.out

      - name: Rename binary
        run: |
          cp .out/usr/local/bin/botbuster botbuster-${{ matrix.platform }}-${{ matrix.arch }}

      - name: Upload binary
        uses: actions/upload-artifact@v6.0.0
        with:
          name: binaries-${{ matrix.platform }}-${{ matrix.arch }}
          path: botbuster-${{ matrix.platform }}-${{ matrix.arch }}

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout project repo
        uses: actions/checkout@v6.0.1

      - name: Download binaries
        uses: actions/download-artifact@v7.0.0
        with:
          pattern: binaries-*
          merge-multiple: true
          path: .bin

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2.5.0
        with:
          generate_release_notes: true
          files: .bin/*
